/* Variables */

* {
    --primaryColour: #c78354;
    --secondaryColour: #333;
    --tertiaryColour: #ddd;
}
  
/* Global */

a {
    text-decoration: none;
}

.wikiOverview {
    display: flex;
    min-height: 60vh;
    margin: 1vw;
    margin-top: 10vh;
    justify-content: space-between;
}

.wikiIntro {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.wikiBoxSection {
    width: 30%;
    text-align: center;
}

.wikiBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--tertiaryColour);
    border: 2px solid black;
}

.wikiBoxImage {

}

.wikiBoxInfo {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 0.5rem;
}

.wikiBoxInfo hr {
    height: 0.2rem;
    width: 100%;
    background-color: var(--secondaryColour);
}

.wikiBoxLine {
    display: flex;
    width: 100%;
}

.wikiBoxLineText {
    width: 50%;
    margin: 0;
}

.wikiContent {
    min-height: 100vh;
}

.contentSection {
    min-height: 60vh;
    margin: 1vw;
}

.cardOverview {
    background-image: none;
}

.cardContainer {
    border: solid 2px var(--secondaryColour);
}

.cardImage {
    background-color: white;
}

.cardText {
    background-color: white;
    border-top: solid 2px var(--secondaryColour);
    color: var(--secondaryColour);
}