/* Variables */

* {
  --primaryColour: #c78354;
  --secondaryColour: #333;
  --tertiaryColour: #ddd;
}

/* Global */

* {
  box-sizing: border-box;
  font-family: 'JetBrains Mono';
}

body {
  margin: 0;
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColour);
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav {
  width: 100%;
}

.navbar {
  background-color: var(--secondaryColour);
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 999;
}

.navbar i {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
}

.navbar p {
  text-align: start;
  margin: 0;
}

.navbar a:hover {
  background-color: var(--tertiaryColour);
  color: black;
}

.navbar a.active {
  background: var(--primaryColour);
  color: white;
}

.navbar .icon {
  display: none;
}

#indexMain {
  display: flex;
  flex-direction: column;
  color: var(--secondaryColour);
}

.parallaxWelcome {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url(Dark\ Angels.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 0 var(--secondaryColour);
  font-size: 1.5rem;
}

.parallaxWelcome p {
  width: 60%;
  margin: 0;
}

#warhammerLogo {
  width: 60%;
}

.parallaxBuffer {
  background:var(--secondaryColour);
  width: 100%;
  min-height: 60vh;
  color: var(--tertiaryColour);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallaxBuffer p {
  width: 60%;
}

.cardOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2vw;
  justify-content: space-evenly;
  width: 100%;
  z-index: 500;
  padding: 6rem 0;
  background-image: url(Warp.png);
  font-size: 1rem;
  text-shadow: none;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 18vw;
  height: 60vh;
  border: solid 2px var(--tertiaryColour);
}

.cardImage {
  height: 75%;
  background-color: var(--secondaryColour);
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  color: var(--tertiaryColour);
  border-top: solid 2px var(--tertiaryColour);
  margin: 0;
  background-color: var(--secondaryColour);

}

.cardText h2 {
  border-bottom: solid 2px var(--tertiaryColour);
  margin: 0;
  width: 75%;
  text-align: center;
}

.cardText p {
  margin: 0;
  text-align: center;
}

.cardContainer:hover, .cardContainer:hover .cardText, .cardContainer:hover .cardText h2, .cardContainer:hover .cardText p {
  border-color: var(--primaryColour);
  color: var(--primaryColour);
  cursor: pointer;
}

.backgroundTint {
  background-color: rgb(51, 51, 51, 0.5);
  background-blend-mode: multiply;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondaryColour);
  color: var(--tertiaryColour);
  height: 10vh;
}

footer a {
  color: lightblue;
}

footer > p {
  margin: 5px 0;
}

/* non-Global */

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .mobileTitle {
    display: none;
  }
  .cardOverview {
    flex-direction: column;
    align-items: center;
  }
  .cardContainer {
    height: 90vh;
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
